
        body {        
          background-color: rgb(238, 246, 248);
        }

        h1 {         
          font-family: 'outfit', sans-serif;
          font-size: 160px;
          color: #1a5c53;
          text-align: left;  
          margin-top: 150px;  
          margin-left: 35px;      
        } 

        h2 {         
          font-family: 'outfit', sans-serif;
          font-size: 80px;
          color: #1a5c53;
          text-align: left;  
          margin-top: 90px;  
          margin-left: none;      
        } 
        
        h3 {
          font-family: 'Nunito', sans-serif;
          font-size: 40px;
          color: #1a5c53;
          text-align: left;
          margin-top: none;           
          margin-left: 55px; 
          margin-bottom: 70px;       
        }

        h4 {   
          font-family: 'Nunito', sans-serif; 
          color: #1a5c53; 
          text-align: left;
          margin-left: 100px; 
          margin-top: 50px;               
        }   

        h6 {   
          font-family: 'Nunito', sans-serif; 
          color: #1a5c53;       
        }

        p {
          font-family: 'Nunito', sans-serif;
          font-size: 18px;
          color: #1a5c53;
          text-align: left;       
          margin-left: 100px;
          margin-top: 40px;          
        }

        a {
          font-family: 'Nunito', sans-serif;
          font-size: 30px;
          color: rgba(26, 92, 83, 1);                     
        } 
        
        .navbar-toggler-icon {
          color: #1a5c53;      
        }

        .navbar {
          background-color: rgba(79, 200, 216, 0.3);   
        }     
        
        .nav-link {
          width: 100%;         
        }
        
        .navbar-brand {
          align-items: left;
        }            
        
        .fa {                
          font-size: 10px;
          width: 50px;  
          margin: 5px 2px;
          margin-bottom: none;  
          text-align: center;                             
        } 

        .fa:hover {
          opacity: 0.7;
        }

        .card-img-top {
          background-color: white;
        }
        
        .jumbotron1 {
          width: 1200px;
          margin: auto; 
          margin-top: 200px;           
        }

        .carousel-inner {  
          width: 700px;           
          margin-top: 100px;  
          margin-left: 480px;  
          margin-right: auto;   
          margin-bottom: auto;                    
        }

        .jumbotron2 {
          width: 1200px;
          margin-top: 200px;                              
        } 

        footer {          
          background-color: rgba(79, 200, 216, 0.3);
          width: 100%;
          margin-top: 150px;                               
        }

        .footer1 {
          padding-top: 20px;          
          text-align: center;
        } 

        .footer2 {   
          text-align: center;
        }        

        .footer3 {
          padding-bottom: 20px;           
          text-align: center;
        }

        .somedia {
          text-align: center;
        }
       
        
        

       